body {
  font-family: "Source Sans Pro", sans-serif;
  background: url("/images/bg.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0;
  padding: 0;
}

/*Change text in autofill textbox*/
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px black inset;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.75) !important;
}
